@import "~@fontsource/work-sans/index.css"; /*Defaults to weight 400.*/
@import "~@fontsource/trocchi/index.css";   /*Defaults to weight 400.*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Work Sans';
    // font-family: "Trocchi";
}

.container{
    width: 90%;
    margin: 0 auto;
}