// MIXIN for FLEX (center Horizontally and Vertically)
@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}

// MIXIN for FLEX SPACE AROUND
@mixin flex-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// MIXIN for FLEX SPACE BETWEEN
@mixin flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// MIXIN for FLEX START & ALIGN CENTER
@mixin flex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// MIXIN for FLEX END & ALIGN CENTER
@mixin flex-end-center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

//MIXIN Dark-green Background with PAWs
@mixin green-paw{
    background-color: $dark-green;
    background-image: url('../assets/img/bg-transparent-3.png');
}

@mixin h2-heading{
    font-size:$fsize-heading-big-title;
    font-family: "Trocchi";
    font-weight: 300;
    color: white;
}

@mixin h2-banner{
    font-size:54px;
    padding:35px 0;
    font-family: "Trocchi";
    font-weight: 300;
    color: white;
}

@mixin h3-heading{
    font-family: "Trocchi";
    font-size: $fsize-heading-title;
    font-weight: $fweight-thin;   
    color:$dark-green;
    padding: 25px 0;
}

@mixin p-heading{
    font-size: $fsize-heading-paragh;
    color:$darkest;
    letter-spacing: 1px;
    line-height: 34px;
    max-width: 750px;
    margin: 0px auto;
}

@mixin span-heading{
    color: $green;
    font-weight: $fweight-medium;
    font-size:$fsize-heading-span;
    letter-spacing: 1px;
}

@mixin span-banner{
    text-transform: uppercase;
    color:white;
    font-size: $fsize-heading-xs;
    letter-spacing: 1px;
    font-weight: $fweight-medium;
}

@mixin green-button{
    background-color: $green;
    color: white;
    font-size: 15px;
    font-weight: $fweight-medium;
    font-family: 'Work Sans';
    border-radius: 30px;
    border:none;
    padding:14px 30px;
    cursor: pointer;

    &:hover {
    background-color: darken($green, 8%);
    }
}

@mixin green-button-input{
    background-color: $green;
    color: white;
    font-size: $fsize-input-button;
    font-weight: $fweight-medium;
    font-family: 'Work Sans';
    border-radius: 30px;
    border:none;
    padding:20px 60px;
    cursor: pointer;

    &:hover {
    background-color: darken($green, 8%);
    }
}

@mixin white-button{
    background-color:white; 
    color: black;
    font-size: 15px;
    font-weight: $fweight-medium;
    font-family: 'Work Sans';
    border-radius: 30px;
    border:none;
    padding:14px 30px;
    cursor: pointer;
    transition:all 0.3s ease-in-out;

    &:hover {
    background-color: $green;
    color: white;
    }
}

@mixin white-button-no-hover{
    background-color:white; 
    color: black;
    font-size: 15px;
    font-weight: $fweight-medium;
    font-family: 'Work Sans';
    border-radius: 30px;
    border:none;
    padding:14px 30px;
}


