// ## COLOR PALETTE

$darkest: black;
$grey:#7c7c72;
$dark-green:#1e3120;
$green:#3d6f42;
$light-green:#77ab82;
$salvia-green:#9ca49d;
$sand:#f8f5f2;
$sepia-skin:#a45f428e;

// ## TYPOGRAPHY

// # FONT-SIE
$fsize-heading-xs:16px;
$fsize-input-placeholder:17px;
$fsize-heading-paragh:18px;
$fsize-input-button:19px;
$fsize-heading-span:20px;
$card-didascalia:24px;
$card-price-didascalia:22px;
$fsize-heading-title:35px;
$fsize-heading-big-title:42px;

// * for FOOTER
$fsize-footer-big:24px;
$fsize-footer-small:18px;


// # FONT- WEIGHT
$fweight-thin: 300;
$fweight-medium: 500;


